@layer theme, base, components, carbon, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'carbon-components-svelte/css/all.css' layer(components);
@import 'tailwindcss/utilities.css' layer(utilities);

:root {
	color-scheme: light dark;
}

/* System Theme */
@media (prefers-color-scheme: dark) {
	html[theme=''] {
		@import 'carbon-components-svelte/css/g100.css' layer(carbon);
	}
}

@media (prefers-color-scheme: light) {
	html[theme=''] {
		@import 'carbon-components-svelte/css/white.css' layer(carbon);
	}
}

::view-transition-old(root) {
	animation: none;
}

::view-transition-new(root) {
	animation: diagonal 800ms cubic-bezier(0.22, 1, 0.36, 1);
}

@keyframes diagonal {
	from {
		clip-path: polygon(100% 100%, 100% 100%, 100% 100%);
	}
	to {
		clip-path: polygon(-100% 100%, 100% 100%, 100% -100%);
	}
}
